<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap Core CSS -->
  <!--<link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">-->

</head>

<body>
<div class="row">
  <div class="col-xs-6 col-sm-4">
    <a href="#" class="product-grid-image">
      <img src="https://s3-us-west-2.amazonaws.com/thehatgame/uploads/item/photo/2/show_10832272_1567081693505167_222862675_n.jpg" alt="Made in Ohio">
    </a>

    <div class="label">
      <div class="price">
        $28
      </div><div class="title">
      <a class="description" href="#">MADE IN OHIO</a>
    </div>

    </div>
  </div>

  <div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </div>

</body>


</html>