<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap Core CSS -->
  <!--<link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">-->


</head>

<body class="index">
<% @product.shuffle.each_slice(4) do |product_row| %>
    <div class="row">
      <% product_row.each do |product| %>

          <div class="col-xs-6 col-sm-4">
            <a href="#" class="product-grid-image">
              <%= link_to image_tag(product.product_photo.url(:home)), product_path(@product) %>

            </a>

            <div class="label">
              <div class="price">
                $<%= product.price %>
              </div><div class="title">
              <a class="description" href="#"> <%= product.description %></a>
            </div>

            </div>
          </div>

          <div>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

          </div>
      <% end %>

    </body>

<% end %>

</html>