<!DOCTYPE html>
<html>
<head>
  <!-- Optional theme starts-->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha256-ZgJYmqb5jZ8WCDqIYHlUarCVI7NDkBCeFnMW1gfihwY= sha512-yK8VlGnQXDlAH4aaZwd0EfmkYwv/XwZaA7VcT9JDO1YeZSvzu94p7/btLABkerIR26o7uYIiEmY59gQv/w/itA==" crossorigin="anonymous">
  <!-- Theme Ends-->
  <div>
     <h2>Home Page</h2>
  </div>
</head>
<body>
    <div>
        <h1>stuff goes here</h1>
            <p>so think of how we can make the home page different</p>
        </body>
    </div>
</html>